.lzr {

  .top-area {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; max-width: 100%;
    padding: 8px var(--horizontal-padding);
    background-color: var(--color--bg-html);
    z-index: 50;
    /* box-shadow: var(--box-shadow--soft); */
    border-bottom: 1px solid var(--color--fg-default);

    .main-color-area {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }

    .color-picker-container {
      --width: 94px;
      --height: 94px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: var(--width); width: var(--width); max-width: var(--width);
      min-height: var(--height); height: var(--height); max-height: var(--height);
      border-radius: var(--border-radius--default);
      overflow: hidden;
  
      .color-input {
        min-width: 150%; width: 150%; max-width: 150%;
        min-height: 150%; height: 150%;
        cursor: pointer !important;
      }
      input[type="color" i] {
        border: none;
      }
    }

    .color-text-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 8px;
      text-wrap: nowrap;
      width: 100%;
    }
  }

  .page-container.main-container {
      --direction: if(
      /* PHONE */ media(width < 767px):  column;
      /* TABLET */media(width < 1280px): row;
      /* LAPTOP */media(width < 1920px): row;
      /* DESKTOP */ else:                row;
    );
    flex-direction: var(--direction);
    flex-wrap: wrap;
    gap: 16px;
  }

  

  .text-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    gap: 8px;

    .lzr-button.lzr-square {
      padding: 4px;
    }
  }

  .category-container {
    --gap: 16px;
    --width: if(
      /* PHONE */ media(width < 767px):  100%;
      /* TABLET */media(width < 1280px): calc((100% - var(--gap))/2);
      /* LAPTOP */media(width < 1920px): calc((100% - calc(var(--gap)*2))/3);
      /* DESKTOP */ else:                calc((100% - calc(var(--gap)*3))/4);
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: var(--width); width: var(--width); max-width: var(--width);
  }

  .lzr-button.lzr-round.contrast-button {
    --top: if(
      /* PHONE */ media(width < 767px):  8px;
      /* TABLET */media(width < 1280px): 8px;
      /* LAPTOP */media(width < 1920px): 16px;
      /* DESKTOP */ else:                16px;
    );

    position: fixed;
    right: var(--horizontal-padding);
    top: var(--top);
    padding: 4px;
  }

  .palette-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 100%;

    .palette-block {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 4px;

      .palette-color {
        --color: hsl(0, 50%, 50%);
        background-color: var(--color);
        height: 78px;
        aspect-ratio: 1/1;
        border-radius: var(--border-radius--default);

      }
      .palette-text {
        font-weight: 600;
      }
      .codes-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        text-wrap: nowrap;
        white-space: nowrap;

        .text-row {
          font-weight: 500;
        }
      }
    }

    .hex-text {
      text-transform: uppercase;
    }

  }

  table {
    width: 100%;
    border: inline 1px solid var(--color--bg-default);
    border-radius: var(--border-radius--default);
    border-collapse: collapse;
    overflow: hidden;
    /* background-color: var(--color--bg-default); */
  
    th {
      padding: 8px;
      border: 1px solid var(--color--bg-default);
      border-bottom: 1px solid var(--color--fg-default);
      background-color: var(--color--bg-default);
    }
    td {
      padding: 8px;
      border: 1px solid var(--color--bg-default);
    }
  }
  
  #wcagWhiteRatio, #wcagBlackRatio {
    font-weight: 600;
  }
  
  .sample-text {
    font-weight: 600;
    border-radius: var(--border-radius--default);
    padding: 4px 8px;
    margin: 4px 8px;
  
    &.white { color: white; }
    &.black { color: black; }
  }
  
  
  .python-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
  
    .python-icon-container {
      height: 48px;
  
      img {
        height: 100%;
      }
    }
  }
}
